{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'products/css/see_products.css' %}">
    <title>Text</title>
</head>
<body>
    <h1> Hello, you are okay?</h1>

    <form action="{% url 'see_products' %}" method="POST"> {% csrf_token %}
        <input type="text" name="name" placeholder="Name">
        <br>
        <br>
        <input type="number" name="age" placeholder="Age">
        <br> 
        <br>
        <input type="submit" value="Send">
    </form>
    
</body>
</html>